.App{
  width: 100%;
  height: calc(100vh - 50px);
}

.CreationArea{
  display: grid;
  grid-template-columns: 200px auto;
  width: 100%;
  height: calc(100vh - 50px);
  grid-gap: 10px;
}

aside{
  background: #eee;
  height: 100%;
}

aside img{
  height: 100px;
  width: 100px;
}

aside ul{
  list-style: none;
  padding: 0;
  width: 100%;
}

aside ul li{
  text-align: center;
}

aside ul li img {
  width: 50px;
  height: 50px;
}

img.active{
  border: 2px solid blue;
}

.tile{
  box-sizing: border-box;
  border: solid black 1px;
}

